body {
  background-color:#101010;
  color:#E4D9C4;
  font-family:'Rajdhani', sans-serif;
  letter-spacing:1.6px;
  overflow-x:hidden;
}

#intro {
  color:#E4D9C4;
  letter-spacing:0.4px;
  background-color:#101010;
  padding-bottom:55px;
}

#intro-video{
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}


.intro-bg img {
  text-align:center;
  margin:0 auto;
  padding:0;
}

.intro-headline {
  font-size:30px;
  text-transform:uppercase;
  letter-spacing:5px;
  text-align:center;
  font-weight:600;
  padding-bottom:0px;
  margin-bottom:15px;
}

#intro p {
  text-align:center;
  padding-top:0px;
  margin-top:0px;
}

#about {
  padding-top:120px;
}

#about img{
  margin-bottom:50px;
}

.container.about-us {
  background-image:url(../../assets/img/absctractbg.png);
  background-repeat:no-repeat;
  background-position:center top;
}

.about-heading {
  text-align:center;
  font-size:120px;
  font-weight:bold;
  text-transform:uppercase;
  position:relative;
}


@media only screen and (max-width: 1200px) {
  .about-heading {
    font-size: 80px;
  }
}

@media only screen and (max-width: 768px) {
  .about-heading {
    font-size: 60px;
  }
}


.sub-head {
  position:relative;
  text-align:center;
  top:0;
  left:90px;
  text-transform:uppercase;
  font-size:18px;
  display:block;
  letter-spacing:5px;
}

@media only screen and (max-width: 1200px) {
  .sub-head {
    font-size: 14px;
    position: static;
  }
}

@media only screen and (max-width: 768px) {
  .sub-head {
    font-size: 12px;
  }
}

.about-p {
  text-transform:none !important;
  font-weight:normal !important;
  font-size:16px;
}

#about p {
  text-align:center;
  font-weight:bold;
  text-transform:uppercase;
}

.about-us {
  margin-bottom:15px;
  font-size:12px;
}

#events {
  color:#111;
  margin-top:200px;
}

#events h1, #team h1, #contact h1, #comic h1 {
  color:#E4D9C4;
  text-align:center;
  font-size: 120px;
  font-weight:bold;
  text-transform:uppercase;
}

@media only screen and (max-width: 1200px) {
  #events h1, #team h1, #contact h1, #comic h1 {
    font-size: 80px;
  }
}

@media only screen and (max-width: 768px) {
  #events h1, #team h1, #contact h1, #comic h1 {
    font-size: 60px;
  }
}

@media only screen and (max-width: 576px) {
  #events h1, #team h1, #contact h1, #comic h1 {
    font-size: 40px;
  }
}

#team {
  margin-top:200px;
}

.team .fa {
  color:#cd3333;
  font-size:18px;
  margin-top:10px;
  padding:3px;
}

#contact {
  margin-top:200px;
}


.googlemap {
  position:relative;
  padding-bottom:75%;
  height:0;
  overflow:hidden;
}

.googlemap iframe {
  position:absolute;
  top:0;
  left:0;
  width:100% !important;
  height:100% !important;
}

.col-8.m-auto.contact-list-container {
  background-color:#0a0a0a;
  padding:20px;
  text-align:center;
}

ul.contact-list {
  list-style:none;
  text-align:center;
}

ul.contact-list li {
  float:left;
  margin-right:25px;
  text-align:center;
}

.footer{
  margin-top:100px;
}

.resource-list{
  width:33%;
  float:left;
}

@media (max-width: 768px){
  .resource-list{
    width:100%;
    display:block;
    clear:both;
  }
}

.resource-list a:link, .resource-list a:visited{
  color:#cd3333;
}

.resource-list a:hover{
  text-decoration:none;
}

.footer a{
  color:#E4D9C4;
}
.embedded .fa{
  color:#cd3333;
  font-size:24px;
  display:block;
  float:left;
  background-color:#0a0a0a;
  padding:10px;
  margin-right:5px;
  transition: all 0.2s linear;
}



.row-striped a{
  color:#101010;
}

/*Event Styles*/
.row.event-item {
  background-color:white;
  padding:15px;
  margin-bottom:25px;
}

.event-date h2 {
  background-color:#cd3333;
  color:white;
  text-align:center;
  border-radius:5px;
  padding:15px 0;
  font-size:50px;
}

@media (max-width: 576px) {
  .event-date h2 {
    border-radius:0px;
  }
}

span.event-day {
  text-align:center;
  display:block;
  font-size:30px;
  font-weight:bold;
}

ul.event-details {
  display: flex;
  align-items: center;
  list-style-type:none;
  margin:0;
  padding:0;
}

@media (max-width: 576px) {
  ul.event-details {
    justify-content: center;
    flex-wrap: wrap;
  }
}

ul.event-details li {
  white-space: nowrap;
  margin-right:15px;
}

ul.event-details li:last-child {
  margin-right: 0;
}

.event-info p {
  clear:both;
}

.event-info {
  /* Some styles for .event-info here */
}

@media (max-width: 576px) {
  .event-info {
    text-align: center;
  }
  .col-10.col-md-10.event-info {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }  
}

/*sponsors css*/

.sponsors{
  margin-top:100px;
}

.sponsors img {
  -webkit-filter:grayscale(100%);
  filter:grayscale(100%);
  opacity:0.1;
  transition:all 0.2s linear;
}

.sponsors img:hover {
  opacity:1;
  -webkit-filter:grayscale(0%);
  filter:grayscale(0%);
}


/* Slider */
.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider
{
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;

  display: block;
}
.slick-track:before,
.slick-track:after
{
  display: table;

  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}


/*image gallery*/

#carouselContent{
  margin-top:100px;
}
.carousel-inner p{
  color:white;
}

.carousel-nav{
    border-bottom:2px solid #1d1d1d;
    padding-bottom:25px;
    color:white;
}
.carousel-nav a{
    cursor: pointer;
    color:#cd3333;
    font-weight:bold;
    margin-right:10px;
    text-align: center;
}

.carousel-nav a.active{
    color:#cd3333;
    border-bottom:4px solid #cd3333;
    padding-bottom:25px;
}

@media only screen and (max-width: 1200px) {
  .carousel-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .carousel-nav a {
    margin-bottom: 16px;
    height: 28px;
  }

  .carousel-nav a.active {
    padding-bottom: 0px;
  }
}

.row-gallery {
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  padding:0 4px;
}

.carousel-item h2{
  color:white;
  font-size:24px;
}

.column {
  -ms-flex:25%;
  flex:25%;
  max-width:25%;
  padding:1px;
  object-fit: cover;
}


.column img {
  vertical-align:middle;
  object-fit:cover;
  -webkit-filter:invert(40%) grayscale(100%) brightness(10%) sepia(100%) hue-rotate(-50deg) saturate(40%) contrast(2);
  filter:grayscale(100%) brightness(10%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(0.8);
  opacity:0.6;
  transition:all 0.2s linear; 
}


.column img:hover {
  -webkit-filter:grayscale(0%);
  filter:grayscale(0%);
  opacity:1;
  transition:all 0.2s linear;
}

.embedded{
  margin-top:100px;
  margin-bottom:100px;
}

.embedded a{
  color:white;
}

.embedded a:hover{
  text-decoration:none;
  color:#cd3333;
}
@media (max-width: 576px) {
  .embedded {
    text-align: center;
  }
}



/*Comic Slider*/
.carousel {
  padding: 20px;
  -webkit-perspective: 500px;
          perspective: 500px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.carousel > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.carousel figure {
  margin: 0;
  width: 40%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.carousel figure img {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0px;
}
.carousel figure img:not(:first-of-type) {
  position: absolute;
  left: 0;
  top: 0;
}
.carousel nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0 0;
}
.carousel nav button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0 5px;
  cursor: pointer;
  color: #333;
  background: none;
  border: 1px solid;
  letter-spacing: 1px;
  padding: 5px 10px;
}


@media (max-width: 800px) {
  .column {
    -ms-flex:50%;
    flex:50%;
    max-width:50%;
  }
}

@media (max-width: 600px) {
  .column {
    -ms-flex:100%;
    flex:100%;
    max-width:100%;
  }
}

